<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Basic Page Needs
    ================================================== -->
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

	<!-- Specific Meta
    ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<meta name="description" content="Intimate is a One Page Personal & Agency Portfolio Template." />
	<meta name="keywords"
		content="HTML5, Template, Design, agency, blog, business, clean, creative, marketing, modern, multipurpose, portfolio, seo, startup, studio, trending" />

	<!-- Titles
    ================================================== -->
	<title>Carlos Salas | Migrando al mundo del teletrabajo</title>

	<!-- Favicons
    ================================================== -->
	<link rel="shortcut icon" href="../assets/images/favicon.ico" />
	<link rel="apple-touch-icon" sizes="72x72" href="../assets/images/android-icon-72x72.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="../assets/images/apple-icon-144x144.png" />

	<!-- Custom Font
	================================================== -->
	<link
		href="https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700;800&family=Inter:wght@400;500;600;700&display=swap"
		rel="stylesheet">

	<!-- CSS
    ================================================== -->
	<link rel="stylesheet" href="../assets/css/bootstrap.min.css" />
	<link rel="stylesheet" href="../assets/css/owl.carousel.min.css" />
	<link rel="stylesheet" href="../assets/css/simple-scrollbar.css" />
	<link rel="stylesheet" href="../assets/css/odometer-theme-default.css" />
	<link rel="stylesheet" href="../assets/css/fontawesome.all.min.css" />
	<link rel="stylesheet" href="../assets/css/style.css" />

	<script src="../assets/js/modernizr.min.js"></script>
</head>

<body>
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
			Start Site Header
		~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
	<header class="site-header header-style-one">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-12">
					<div class="navigation-area">
						<!-- Site Branding -->
						<div class="site-branding">
							<a href="index.html">
								<img src="../assets/images/logo/logo.png" alt="Site Logo" />
							</a>
						</div><!--  /.site-branding -->

						<!-- Site Navigation -->
						<div class="site-navigation">
							<nav class="navigation">
								<!-- Main Menu -->
								<div class="menu-wrapper">
									<div class="menu-content">
										<ul class="mainmenu">
											<li>
												<a class="nav-link" href="../index.html">Inicio</a>
											</li>
											<li>
												<a class="nav-link" href="../index.html#servicios">Servicios</a>
											</li>
											<li>
												<a class="nav-link" href="../index.html#sobremi">Sobre Mi</a>
											</li>
											<li>
												<a class="nav-link" href="../index.html#proyectos">Proyectos</a>
											</li>
											<li>
												<a class="nav-link" href="../blog.html">Blog</a>
											</li>
											<li>
												<a class="nav-link" href="#contacto">Contacto</a>
											</li>
										</ul> <!-- /.menu-list -->
									</div> <!-- /.hours-content-->
								</div><!-- /.menu-wrapper -->
							</nav>
						</div><!-- /.site-navigation -->
						<div class="hamburger-menus">
							<span></span>
							<span></span>
							<span></span>
						</div><!-- /.hamburger-menus -->
					</div><!-- /.navigation-area -->
				</div><!-- /.col-12 -->
			</div><!-- /.row -->
		</div><!-- /.container-fluid -->
		<div class="mobile-sidebar-menu sidebar-menu">
			<div class="overlaybg"></div>
		</div>
	</header>
	<!--~~./ end site header ~~-->

	<!--********************************************************-->
	<!--********************* SITE CONTENT *********************-->
	<!--********************************************************-->
	<div class="site-content bg-white-smoke">
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
				Start Blog Page Block
		~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<div class="blog-page-block pd-t-100 pd-b-130">
			<div class="container container-1200">
				<div class="row">
					<div class="col-lg-8">
						<div class="blog-single-page">
							<article class="post single-post">
								<figure class="post-thumb">
									<img src="assets/portadasblog/01-teletrabajo-portada.jpg" alt="Blog Image" />
								</figure><!-- /.post-thumb -->

								<div class="post-details">
									<h2 class="entry-title">Migrando al mundo del teletrabajo</h2><!-- /.entry-title -->
									<div class="entry-content">
										<p>El trabajo en casa, teletrabajo o trabajo remoto a tenido una explosión impresionante y gigantesca 
											en los últimos tiempos, gracias a la revolución tecnológica en la que vivimos actualmente y sobre 
											todo debido a la pandemia del Covid 19, este fue uno de los principales detonantes que hizo que muchas 
											empresas empezaran a confiar y adoptar esta metodología como una solución. </p>
										<div class="row">
												<div class="col-lg-6 col-md-6 post-imagen">
													<img src="assets/Contenido/teletrabajo.jpg" class="rounded">
												</div>
												<div class="col-lg-6 col-md-6 post-imagen">
													<p>Es muy posible que si estas leyendo este articulo estés empezando en el
														teletrabajo o actualmente estas obligado a asumirlo y todo es nuevo para ti.</p>
												</div>
										</div>
										<p>Sin importar si eres empresario, freelancer o empleado, mi interés es aportarte información de valor y 
											herramientas para que esta transición en tu nueva vida laboral desde casa sea mas grata, sencilla y 
											sobre todo productiva.</p>
										<p>Hace un par de semanas decidí empezar a investigar a profundidad este tema pese a una variación que 
											tuvimos en un proyecto que actualmente lidero en donde la oficina física como centro de operaciones 
											debió aplazarse por la incertidumbre y las condiciones sociales y sanitarias que actualmente presenta 
											Colombia, y en medio de esta búsqueda descubrí que tele trabajar no solamente se trata de llevarse el 
											laptop a casa, conectarse en una video conferencia y revisar el email si no que va mas allá, es un 
											mundo completo, diferente y lleno de nuevos entornos de productividad que hacen que funcione, aunque 
											presenta grandes retos sobre todo la perdida de interactividad humana real.</p>
										<h4>Bueno y vamos a entrar en materia</h4>
										<p>lo primero que me gustaría compartirte es la configuración o setup correcto que debes preparar para 
											que tu entorno laboral en casa sea adecuado y cuales son los errores mas comunes que se comenten.</p>
										<p>Al iniciar es necesario entender que la perdida de la parte social y el escenario de aislamiento va 
											a estar muy presente en esta nueva realidad, las perdidas mas significativas del ámbito social son 
											las expresiones faciales, los tonos de voz, los gestos sociales y los ritos culturales, todos estos 
											son los que hacen que como humanos entendamos y conectemos emocionalmente con otras personas, ahora 
											el reto que tenemos es llevar todas estas interacciones humanas a un plano completamente digital, 
											para esto debemos crear una configuración o un setup mínimo en nuestro hogar, aquí están los primeros 
											lineamientos para tener en cuenta:</p>
											<ul>
												<li>Webcam</li>
												<li>Micrófono</li>
												<li>Internet Estable</li>
											</ul>
										<p>Aunque suenan obvios, detrás tienen varias características y recomendaciones necesarias para tener en 
											cuenta.</p>
										<p>Empecemos por la Webcam, necesitas una webcam decente y esta no te va a funcionar bien si no cuentas 
											con una fuente de luz correcta que te apoye, no necesariamente se trata de contar con luces de 
											estudio, se trata de utilizar bien lo que tenemos en la mano, una lámpara o una ventana, debes 
											fijarte que no estés a contra luz, es muy importante que puedan verte.</p>
										<p>Ahora avancemos al micrófono, el cual tiene también una gran importancia dentro de tu setup, el sonido 
											que trasmitas a los demás debe ser impecable, no basta con utilizar el micrófono de tu laptop, 
											tenemos que ir mas allá, es necesario trabajar en un entorno de silencio y de audio de calidad 
											en particular cuando estemos en videoconferencias con muchos participantes éstas son muy importantes 
											creería que son nucleo para mantener una cultura de trabajo remoto.</p>
										<p>Y por supuesto tenemos que llegar al tema del internet estable, evita conectarte desde lugares en 
											donde no este garantizada la conexión a internet, si estas fuera de casa por ejemplo viajando o 
											en un evento evita tomar la llamada, debemos tener total respeto por el tiempo de las demás personas 
											sobre todo con las que trabajamos, una mala conexión a internet presenta serias afecciones en la 
											comunicación, no solo son molestas si no que ponen en aprietos diferentes instancias en tomas de 
											decisión final y afecta tu credibilidad.</p>
										<p>Estos son algunos artículos recomendados para tu setup básico de teletrabajo en casa, si das click a 
											la imagen te llevara directamente a amazon para que conozcas su precio:</p>
										<div class="row">
											<div class="col-lg-6 col-md-6 post-imagen">
												<img src="assets/Contenido/logitech-c930e.jpg" class="rounded">
												<h4>Logitech C930E</h4>
											</div>
											<div class="col-lg-6 col-md-6 post-imagen">
												<img src="assets/Contenido/plantronics-C720.jpg"class="rounded">
												<h4>Plantronics C720</h4>
											</div>
											<div class="col-lg-6 col-md-6 post-imagen">
												<img src="assets/Contenido/bose-micro.jpg"class="rounded">
												<h4>Bose Micro SoundLink</h4>
											</div>
											<div class="col-lg-6 col-md-6 post-imagen">
												<img src="assets/Contenido/beats-x.jpg"class="rounded">
												<h4>Auriculares Beats X</h4>
											</div>
										</div>
										<h4>Errores Comunes</h4>
										<p>No ver directamente a la webcam es uno de los errores mas frecuentes que se ve en el teletrabajo, 
											hacerlo de forma correcta implica ver directamente el lente de la webcam y para esto existe una 
											técnica muy sencilla, en tu monitor o laptop ubica la webcam en la parte superior derecha o 
											izquierda y debajo de la cámara en tu sistema operativo ubica la ventana de la videoconferencia 
											que estas teniendo específicamente de la persona con la que estas hablando y listo, de esta 
											manera cuando estés dirigiéndote a esta persona necesariamente tendrás que verla directamente.</p>
										<p>El silencio en el micrófono, aunque ya es normal escuchar algunos ruidos en las video conferencias 
											de naturalidad ambiente, por ejemplo un perro ladrando o los pajaritos de la mañana, es 
											necesario entender que estos son validos únicamente durante mi intervención, el resto del tiempo 
											si o si debes tener tu micrófono en silencio para no molestar ni interrumpir a quien esta 
											hablando, ni afectar el audio de otras personas que están escuchando, esto debe ser parte 
											de la cultura de teletrabajo de todo tu equipo.</p>
										<p>La falta de enfoque es otro error común, aunque el mundo del trabajo remoto te va a permitir 
											cierta flexibilidad en algunas cosas por que estas en casa ten en cuenta esto, cuando entres a 
											una videoconferencia enfócate totalmente en ella, no te distraigas haciendo otras cosas que 
											por mínimas que sean van a afectar tu enfoque, por ejemplo lavándola la loza, dándole de 
											comer al niño, en entrenamientos físicos etc., en cualquier momento pueden lanzar una pregunta 
											para ti y hacerte entrar en pánico pues vas a estar perdido.</p>
										<p>Otro de los errores mas comunes es el lugar en el que tele trabajas, muchas personas optan por 
											trabajar en la cama, en el comedor o en un sofá y hasta en el mesón de la cocina y esto esta 
											muy mal, recuerda que para teletrabajar es necesario que tu espacio sea adecuado pues debe 
											ser exclusivo para esto, lo mínimo es un escritorio con una silla específicamente para trabajar 
											que sea muy cómoda y ergonómica (una buena idea podría ser una silla de gamer 🧑🏻‍💻👩🏽‍💻).</p>
										<h2>EL CONTRATO DE TELETRABAJO</h2>
										<div class="row">
											<div class="col-lg-12 col-md-12 post-imagen">
												<img src="assets/Contenido/contrato-teletrabajo.jpg" class="rounded">
											</div>
										</div>
										<p>Este es un punto que la mayoría de personas ignoran al iniciar su migración al teletrabajo, y 
											no estoy refiriéndome al contrato que puedas firmas con tu empresa o con tus clientes, se 
											trata del contrato de teletrabajo que debes firmar con tu familia, con tus hijos, con tu 
											pareja, con tu mama, con tu papa, con tus abuelos o con quien convivas, en donde debe quedar 
											completamente claro que vas a estar en casa pero que vas a estar trabajando, es decir que no 
											pueden contar contigo por que estas trabajando, esto significa que no vas a poder atender 
											ningún tipo de petición domestica ni familiar que te hagan, por ejemplo ir al mercado a traer 
											lo del almuerzo o sacar el perro al parque, es necesario que minimices totalmente las 
											interrupciones, por que tu familia al principio pensara que estas en casa disponible y 
											en modo descanso, por esto es necesario tener un entorno aislado con todo el setup básico 
											del que estamos hablando en este articulo, hasta que este contrato no este firmado por 
											todos los miembros de tu familia las cosas no estarán claras y se te pueden presentar 
											confrontaciones con ellos, un ultimo punto importante es que respetes las reglas y los 
											horarios que estipules en este contrato, por ejemplo el tiempo que definas que es para tu familia, 
											debe ser para tu familia y debes desconectarte de tu trabajo.</p>

										<blockquote>
											<p>¿Que tal si ponemos todo esto en practica y/o compartimos experiencias? o si tienes otros tips 
												o recomendaciones para teletrabajar deja tus comentarios, quizás sean de ayuda para otras 
												personas.</p>
											<p>🤓 Nos leemos en la próxima 🤓</p>
											<h5 class="name">Carlos Salas</h5>
										</blockquote>

									</div><!-- /.entry-content -->
								</div><!-- /.post-details -->
								<div class="entry-footer">
									<div class="entry-tag">
										<strong>Tags : </strong>
										<div class="tags">
											<a href="#" rel="tag">Teletrabajo</a>
										</div>
									</div>
									<!--/.entry-tag-->
								</div>
							</article><!-- /.post -->

							<div class="entry-share">
								<strong>Compartir : </strong>
								<div class="share">
									<a href="#"><i class="fab fa-facebook-f"></i></a>
									<a href="#"><i class="fab fa-twitter"></i></a>
								</div>
							</div>
							<!--/.entry-share-->

							<div id="comments" class="comments-area">
								<div class="comments-main-content">
									<div class="row">
										<div class="col-md-12">
											<h3 class="section-heading comments-title">Comentarios</h3>
											<!--/.comments-title-->
										</div>
										<!--/.col-md-12-->
									</div>
									<!--/.row-->

									<div class="row">
										<div class="col-md-12">
											<ol class="comment-list">
												<li class="comment">
													<div class="comment-body">
														<div class="comment-meta">
															<div class="comment-author vcard">
																<div class="author-img">
																	<img alt="" src="../assets/images/blog/comments/1.png" class="avatar photo">
																</div>
															</div>
															<!--/.comment-author-->
															<div class="comment-metadata"><b class="author">Makado Smith</b>
																<span class="date"> 10:35pm, 27 jan 2015.</span>
															</div>
															<!--/.comment-metadata-->
														</div>
														<!--/.comment-meta-->
														<div class="comment-details">
															<div class="comment-content">
																<p>Coding is used in almost all aspects of life and work now, be it directly or
																	indirectly. It’s not just for companies in the tech sector. “An increasing number of
																	businesses rely on computer code,</p>
															</div>
															<!--/.comment-content-->
															<a href="#" class="comment-reply-link">Reply</a>
														</div><!-- /.comment-details-->
													</div>
													<!--/.comment-body-->
												</li>
												<!--/.comment-body-->
												<li class="comment">
													<div class="comment-body">
														<div class="comment-meta">
															<div class="comment-author vcard">
																<div class="author-img">
																	<img alt="" src="../assets/images/blog/comments/2.png" class="avatar photo">
																</div>
															</div>
															<!--/.comment-author-->
															<div class="comment-metadata"><b class="author">Willams Doe</b>
																<span class="date"> 10:35pm, 27 jan 2015.</span>
															</div>
															<!--/.comment-metadata-->
														</div>
														<!--/.comment-meta-->
														<div class="comment-details">
															<div class="comment-content">
																<p>Coding is used in almost all aspects of life and work now, be it directly or
																	indirectly. It’s not just for companies in the tech sector.
																</p>
															</div>
															<!--/.comment-content-->
															<a href="#" class="comment-reply-link">Reply </a>
														</div><!-- /.comment-details-->
													</div>
													<!--/.comment-body-->
												</li>
												<!--/.comment-body-->
											</ol>
											<!--/.comment-list-->
										</div>
										<!--/.col-md-12-->
									</div>
									<!--/.row-->
								</div><!-- /.comments-main-content -->
							</div><!-- /.comments-area -->

							<div class="comment-respond">
								<form action="#" class="comment-form">
									<h3 class="comment-reply-title section-heading">Deja tu comentario</h3>
									<div class="row">
										<div class="col-lg-6 col-md-6">
											<div class="group">
												<label for="name">Nombre completo*</label>
												<input id='name' type="text" class="form-control" placeholder="Nombre completo">
											</div>
										</div><!-- /.col-lg-6 -->
										<div class="col-lg-6 col-md-6">
											<div class="group">
												<label for="email">Correo electrónico*</label>
												<input id='email' type="email" class="form-control" placeholder="Correo electrónico">
											</div>
										</div><!-- /.col-lg-6 -->
										<div class="col-12">
											<div class="group">
												<label for="message">Escribe tu comentario</label>
												<textarea id="message" class="form-control" rows="4" cols="50"
													placeholder="Escribe tu comentario"></textarea>
											</div>
										</div><!-- /.col-12 -->
										<div class="form-submit clearfix">
											<button class="btn btn-primary">Publicar</button>
										</div><!-- /.submit -->
									</div><!-- /.row -->
								</form>
							</div>
						</div><!--  /.blog-latest-items -->
					</div><!-- /.col-lg-8 -->

					<div class="col-lg-4">
						<!-- Sidebar Items -->
						<div class="sidebar-items">
							<!--~~~~~ Start Ads Widget ~~~~~-->
							<aside class="widget widget_ads">
								<h4 class="widget-title">Ads</h4><!-- /.widget-title -->
								<div class="widget-content">
									<img src="../assets/images/widget/ads.jpg" alt="Ads">
								</div><!-- /.widget-content -->
							</aside>
							<!--~./ end ads widget ~-->

							<!--~~~~~ Start Categories Widget ~~~~~-->
							<aside class="widget widget_categories">
								<h4 class="widget-title">Categorias</h4><!-- /.widget-title -->
								<div class="widget-content">
									<ul>
										<li><a href="#">Productividad <span>01</span></a></li>
										<li><a href="#">Desarrollo Web <span>00</span></a></li>
										<li><a href="#">Emprendimiento <span>00</span></a></li>
										<li><a href="#">Tecnología <span>00</span></a></li>
									</ul>
								</div><!-- /.widget-content -->
							</aside>
							<!--~./ end categories widget ~-->

							<!--~~~~~ Start Gallery Widget ~~~~~-->
							<aside class="widget widget_gallery">
								<h4 class="widget-title">Galería</h4><!-- /.widget-title -->
								<div class="widget-content gallery-content">
									<div class="gallery-item">
										<img src="../assets/images/portfolio/1.png" alt="Gallery">
									</div>
									<div class="gallery-item">
										<img src="../assets/images/portfolio/12.png" alt="Gallery">
									</div>
									<div class="gallery-item">
										<img src="../assets/images/portfolio/8.png" alt="Gallery">
									</div>
									<div class="gallery-item">
										<img src="../assets/images/portfolio/6.png" alt="Gallery">
									</div>
								</div><!-- /.widget-content -->
							</aside>
							<!--~./ end Gallery widget ~-->

							<!--~~~~~ Start Tags Widget ~~~~~-->
							<aside class="widget widget_tagcloud">
								<h4 class="widget-title">Tags</h4><!-- /.widget-title -->
								<div class="widget-content tagcloud">
									<a href="#">Teletrabajo</a>
								</div><!-- /.widget-content -->
							</aside>
							<!--~./ end tags widget ~-->
						</div><!--  /.sidebar-items -->
					</div><!-- /.col-lg-4 -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</div>
		<!--~~./ end blog page ~~-->


		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
			Start Site Footer
		~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<footer id="contacto" class="site-footer">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="contact-block">
							<div class="section-title">
								<h2 class="title-main">
									06 <span>Escríbeme</span>
								</h2><!-- /.title-main -->
								<p class="sub-title">Me encantaría ayudarte en tu proyecto, Envíame un mensaje y te contactaré pronto.</p>
							</div><!-- /.section-title -->
							<div class="contact-form-area">
								<form id="contact_form" class="contact-form" action="#">
									<div class="row gx-4">
										<div class="col-lg-6 col-md-6">
											<div class="form-group">
												<input id="name" name="name" type="text" class="form-control" placeholder="Tu Nombre*">
											</div>
										</div>
										<!--./ col-lg-6-->
										<div class="col-lg-6 col-md-6">
											<div class="form-group">
												<input class="form-control" id="email" name="email" type="email" placeholder="Tu Email*">
											</div>
										</div>
										<!--./ col-lg-6 -->
										<div class="col-12">
											<div class="form-group">
												<textarea id="message" name="message" class="form-control" rows="4"
													placeholder="Cuéntame, ¿en que te puedo ayudar?"></textarea>
											</div>
										</div><!-- /.col-12 -->
										<div class="col-12">
											<button type="submit" class="btn btn-primary">Enviar Mensaje</button>
										</div>
										<!--./ col-lg-6 -->
									</div><!-- /.row -->
								</form><!-- /.contact-form -->
							</div><!-- /.contact-form-area -->
						</div>
					</div>
					<div class="col-lg-6">
						<div class="footer-content-wrapper">
							<div class="footer-widget-area">
								<div class="row">
									<!--~~~~~ Start Widget Links ~~~~~-->
									<div class="col-lg-6 col-md-6">
										<aside class="widget widget_links">
											<h2 class="widget-title"><span>Enlaces Rápidos</span></h2>
											<div class="widget-content">
												<ul>
													<li><a href="../index.html">Inicio</a></li>
													<li><a href="../index.html#servicios">Servicios</a></li>
													<li><a href="../index.html#sobremi">Sobre Mi</a></li>
													<li><a href="../index.html#proyectos">Proyectos</a></li>
													<li><a href="../blog.html">Blog</a></li>
												</ul>
											</div>
										</aside>
									</div>
									<!--~./ end links widget ~-->
									<!--~~~~~ Start Widget Links ~~~~~-->
									<div class="col-lg-6 col-md-6">
										<aside class="widget widget_contact">
											<div class="widget-content">
												<div class="single-contact-info">
													<div class="icon">
														<i class="fas fa-envelope"></i>
													</div>
													<p><a href="mailto:contacto@bycarlosalas.com">contacto@bycarlosalas.com</a></p>
												</div><!-- /.single-contact-info -->
												<div class="single-contact-info">
													<div class="icon">
														<i class="fas fa-phone-alt"></i>
													</div>
													<p>(+57) 323 289 8478</p>
												</div><!-- /.single-contact-info -->
											</div>
										</aside>
									</div>
									<!--~./ end links widget ~-->
								</div>
							</div>
							<!--~./ end footer widgets area ~-->
							<div class="copyright-text text-center">
								<p>® <a href="https://bycarlosalas.com">CARLOS SALAS </a> 2021</p>
							</div>
							<!--~./ end copyright text ~-->
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!--~./ end site footer ~-->
	</div>
	<!--~~./ end site content ~~-->

	<!-- All The JS Files
			================================================== -->
	<script src="../assets/js/jquery.js"></script>
	<script src="../assets/js/popper.min.js"></script>
	<script src="../assets/js/bootstrap.min.js"></script>
	<script src="../assets/js/plugins.js"></script>
	<script src="../assets/js/imagesloaded.pkgd.min.js"></script>
	<script src="../assets/js/simple-scrollbar.min.js"></script>
	<script src="../assets/js/background-parallax.js"></script>
	<script src="../assets/js/theia-sticky-sidebar.min.js"></script>
	<script src="../assets/js/ResizeSensor.min.js"></script>
	<script src="../assets/js/owl.carousel.min.js"></script>
	<script src="../assets/js/isotope.pkgd.min.js"></script>
	<script src="../assets/js/packery-mode.pkgd.min.js"></script>
	<script src="../assets/js/scrolla.jquery.min.js"></script>
	<script src="../assets/js/odometer.min.js"></script>
	<script src="../assets/js/isInViewport.jquery.js"></script>
	<script src="../assets/js/contact.js"></script>
	<script src="../assets/js/main.js"></script>
	<!-- main-js -->
</body>

</html>